body {
    margin: 0;
    font-family: monospace;
    min-height: 100vh;
/*    display: flex;
*/    justify-content: center;
/*    align-items: center;
*/    background-image: linear-gradient(to top right, #7abb76, #cfd2d8);
    color: #0e0f0f;
    font-size: 20px;
}
.progressStyle {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #09c, #f44);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
button {
    background-color: #0078d4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
label {
    font-family: 'Dancing Script', cursive; /* Choose a fancy font */
    font-size: 34px; /* Adjust the font size as needed */
    color: #bd4ca2; /* Text color */
    margin-top: 10px;
    display: block; /* Display each label on a new line */
    font-weight: bold; /* Make the text bold */
}

/*input {
    width: 10%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;*/ /* Adjust the font size as needed */
    /*color: #333;*/ /* Text color */
    /*background-color: #f9f9f9;*/ /* Background color */
/*}*/
